.phone {
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 4px rgb(153, 144, 144);
    background-image: url('../assets/img/backgroundW.jpg');
    display: flex;
    flex-direction: column;
}

.containerPhone {
    display: flex;
    justify-content: center;
}

.listaMensajes {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    overflow-y: auto;
    /* Habilita el scroll si el contenido es demasiado largo */
}

.agregarMensaje {
    margin-top: auto;
    /* Empuja el componente hacia la parte inferior */
}