.headerContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2a2a2b;
    border-bottom: 1px solid #444;
}

.headerLeft {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatHeaderPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chatHeaderName {
    font-size: 18px;
    color: #ffffff;
}

.headerRight {
    margin-left: auto;
}

.icon {
    color: #a1a1a1;
}