.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2a2a2b;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.contactImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contactName {
    font-size: 18px;
    color: #ffffff;
}

.headerRight .icon {
    color: #ffffff;
}