.inputContainer {
    background-color: #1e1e1f;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.inputMensaje {
    background-color: #47474a;
    height: 40px;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    color: white;
}

.iconsInput {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconsInput svg {
    cursor: pointer;
}

.inputMensaje::placeholder {
    color: #a1a1a1;
}

@media (max-width: 515px) {
    .inputContainer {
        padding: 5px;
        gap: 5px;
    }

    .inputMensaje {
        height: 35px;
        padding: 0 10px;
    }

    .iconsInput {
        gap: 5px;
    }

    .iconsInput svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 440px) {
    .inputContainer {
        padding: 5px;
        gap: 5px;
    }

    .inputMensaje {
        height: 35px;
        padding: 0 10px;
    }

    .iconsInput {
        gap: 5px;
    }

    .iconsInput svg:nth-child(2) {
        display: none;
    }

    .iconsInput svg:nth-child(3) {
        display: none;
    }

    .iconsInput svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 366px) {
    .iconsInput svg:first-child {
        display: none;
    }
}