.inputContainer {
    background-color: #1e1e1f;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.inputMensaje {
    background-color: #47474a;
    height: 40px;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    color: white;
}

.iconsInput {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconsInput svg {
    cursor: pointer;
}

.inputMensaje::placeholder {
    color: #a1a1a1;
}